.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: clamp(8rem, 30vw, 40rem);
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  line-height: 1;
}
